.nav {
  background-color: #121212;
  border-radius: 8px;

  // TODO: Change it to 42 later
  min-width: 36rem;
  margin: 8px;
  padding: 8px 12px;

  &-link {
    font-size: 16px;
    font-weight: 700;

    height: 4rem;
    padding: 4px 12px;
    display: flex;
    align-items: center;
    gap: 12px;

    svg {
      font-size: 24px;
    }

    a:link,
    a:visited {
      text-decoration: none;
      color: inherit;
    }
  }
}
