:root {
  --toastify-toast-width: 32rem;
  --toastify-toast-min-height: 5.8rem;
}

*,
*:link,
*:visited {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  // I started project on 1920 screen and after i Bought macbook this fixed scaling issues
  // I will fix it later
  @media (max-width: 1440px) {
    font-size: 50%;
  }
}

body {
  color: #b3b3b3;
  background-color: #000;
  font-family: 'Montserrat', sans-serif, monospace;
  font-size: 16px;
}

.h1 {
  font-size: 32px;
  line-height: 1;
  color: #fff;

  padding-bottom: 16px;
}

.h2 {
  font-size: 24px;
  line-height: 1;
  color: #fff;

  margin-top: 32px;
  padding-bottom: 16px;
}

button {
  cursor: pointer;
}

