.player {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  grid-column: 1/-1;
  height: 72px;
  margin: 8px;
  padding: 8px;

  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding-top: 8px;
    padding-bottom: 4px;
  }

  svg {
    font-size: 20px;
    color: #b3b3b3;
    cursor: pointer;
  }

  &__icon-btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;

    svg {
      font-size: 32px;
      color: #FFF;
    }
  }

  &__range {
    display: flex;
    align-items: center;
    gap: 8px;

    // Duration
    input[type="range"] {
      width: 100%;
    }
  }

  &-song {
    display: flex;
    align-items: center;
    gap: 16px;

    img {
      height: 56px;
      width: 56px;
      border-radius: 4px;
    }

    &__context {
      display: flex;
      flex-direction: column;
    }

    &__name {
      font-size: 14px;
      font-weight: 400;
      color: #fff;
    }

    &__artist {
      font-size: 11px;
      font-weight: 400;
    }

    &__like {
      font-size: 24px;
      color: #1db954;
    }

    &__time {
      font-size: 11px;
      font-weight: 400;
    }
  }

  &__volume {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
  }
}

// Chrome and Safari
input[type='range'] {
  --range-progress: 50%;

  -webkit-appearance: none;
  position: relative;
  background: #5d5d5d;
  height: 4px;
  border-radius: 2px;
  cursor: pointer;
}

input[type="range"]::before {
  content: '';
  width: var(--range-progress);
  height: 4px;
  background: #fff;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="range"]:hover::before {
  background: #1db954;
}

// - Circle
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}