.app {
  background-color: #121212;
  border-radius: 8px;
  overflow: hidden;
  overflow-y: scroll;

  height: 100%;
  margin-top: 8px;
  margin-right: 8px;

  &-nav {
    padding: 16px 24px;
    background-color: #1db954#1db954;
    background-color: #121212;
    box-shadow: 0 0 36px #000000;
    display: flex;
    justify-content: space-between;

    &__history {
      display: flex;
      gap: 8px;

      &-icon {
        font-size: 24px;
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: #000000b3;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    &__profile {
      &--img {
        height: 32px;
        border-radius: 50%;
        box-shadow: 0 0 0 2px #000000b3;
      }
    }
  }
}
