.card-artist,
.card-artist:link,
.card-artist:visited {
  text-decoration: none;
  color: inherit;
  background: #181818;
  border-radius: 9px;
  cursor: pointer;

  width: 100%;
  padding: 16px;

  &:hover {
    background-color: #282828;
    transition: 0.2s;
  }
 
  img {
    width: 100%;
    border-radius: 50rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    margin-bottom: 16px;
  }
}

.card-artist__name {
  font-weight: bold;
  color: #fff;
  margin-bottom: 4px;
}