.card-playlist,
.card-playlist:link,
.card-playlist:visited {
  text-decoration: none;
  color: inherit;
  background-color: #181818;
  border-radius: 9px;
  cursor: pointer;

  width: 100%;
  padding: 16px;

  &:hover {
    background-color: #282828;
    transition: 0.2s;
  }

  img {
    border-radius: 4px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);

    width: 100%;
    margin-bottom: 15px;
  }
}

.playlist-card__name {
  font-weight: bold;
  color: #fff;
  margin-bottom: 4px;
}